<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Update Password</title>
</head>
<body>
  
    
    <div class="container mt-4">
        <h5 class="card-header">Update Password</h5><br><br>
        <form action='/auth/updatePassword' method="POST">
            <fieldset>
                
                <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" name="password">
                </div>
                
                <div class="form-group">
                <label for="cpassword">Confirm Password</label>
                <input type="password" id="cpassword" class="form-control" name="cpassword">
                </div>
                 {{!-- <input type="text" name="id" value = {{id}}> --}}
            </fieldset>
           
            <button type="submit" class="btn btn-primary">Update Password</button>
        </form> 
        
        <a href="/auth/home">Home</a>

    </div>
    
    
    {{#if message}}
        <h4 class="alert">{{message}}</h4>
    {{/if}}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</body>
</html>