<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Forgot Password</title>
</head>
<body>
    

    
    <div class="container mt-4 col-lg-5">
        
        <div class="card">
        <div class="card-header">
            Forgot Password  
        </div>
        <div class="card-body">
            <form action = "/forgetPassword" method="POST">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" name="email">
                    <small id="emailHelp" class="form-text text-muted">We'll share password reset link to your email.</small>
                </div>
                <button type="submit" class="btn btn-primary">Reset</button>
                </form>
        </div>
        <h4 class="alert">{{message}}</h4>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</body>
</html>