<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>

    <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{message}}</h1>
        <p class="lead">To view or update your account details please click on profile</p>
        
        <a href="/auth/profile" class="btn btn-primary">Profile</a>&nbsp; 
        <a href="/sellbook/addbook" class="btn btn-primary">Sell Book</a>
        <a href="/sellbook/getMyBooks" class="btn btn-primary">My Books</a>
        <a href="/buybook/getAllBooks" class="btn btn-primary">Buy Books</a>
        <a href="/buybook/myCart" class="btn btn-primary">Cart</a>
        &nbsp;   <a href="/logout"  class="btn btn-primary float-right">Logout</a>
        <br><br>
        <h4>{{updatemsg}}</h4>
    </div>
        
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</body>
</html>